<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd" default-lazy-init="true">

	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
    <context:property-placeholder location="classpath:dev.properties" ignore-unresolvable="true"/>
	<context:component-scan base-package="com.sand.zkb" />
	<!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <!--<import resource="mail.xml"/>-->
	<import resource="bean.xml"/>
	<!--<beans profile="dev">-->
        <!--<context:property-placeholder location="classpath:dev.properties" ignore-unresolvable="true"/>-->
		<!--<import resource="mybatis.xml"/>-->
        <!--<import resource="redis-backup.xml"/>-->
		<!--<import resource="redis.xml"/>-->
        <!--<import resource="springjpa.xml"/>-->
		<!--<import resource="cxf-server.xml"/>-->
		<!--<import resource="jms.xml"/>-->
        <!--<import resource="springquartz.xml"/>-->
		<!--<import resource="dubbo-provider.xml"/>-->
	<!--</beans>-->
</beans>
